* {
  box-sizing: border-box;
}

body {
  margin: 0;
}



/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.control {
  width: 45%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 10px; /* Space between items */
}


/* Middle column */
.column.view {
  width: 55%;
}

.parIn #label {
  border-right: 5px;
}

.parIn{
  border-left: 5px;
  padding: 5px;
  width: 20%;
  align-content: center;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.parbox{
  width: 50%;
  padding-bottom: 10px;
  
}
.parameter {
  border-width: 20px;
  border-color: green;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  
}

