* {
  box-sizing: border-box;
}

body {
  margin: 0;
}



/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  
}

/* Left and right column */
.column.control {
  width: 45%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 10px; /* Space between items */
  white-space: nowrap; 
  border-color: red;
  border: 5px double red;
}


/* Middle column */
.column.view {
  width: 55%;
}

.parIn #label {
  border-right: 5px;
}

.parIn{
  border-left: 5px;
  padding: 5px;
  width: 70px;
  align-content: top;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.control, .column.view {
    width: 100%;
  }
}

.parbox{
  width: 100%;
  padding: 2px;
  
}

.parameter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  white-space: nowrap; 
  border-color: red;
  border: 5px double red;
}

.parText {
  font-size: x-small;
  text-align: center;
  
}

.parameter .right {
  align-items: left;
}

.test {
  white-space: nowrap; 
  border-color: red;
  border: 5px double red;
  width: 100%;
}